<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration status="OFF">

    <Properties>
        <Property name="pattern">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5p %C %m%n</Property>
        <Property name="logPath">./log</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>

        <RollingFile name="file" fileName="${logPath}/log4j2.log"
            filePattern="${logPath}/%d{yyyyMM}/log4j2_%d{yyyyMMdd}_%i.log">

            <PatternLayout pattern="${pattern}" />

            <SizeBasedTriggeringPolicy size="20 MB" />
            <TimeBasedTriggeringPolicy />

            <DefaultRolloverStrategy min="1" max="10" />
        </RollingFile>

        <RollingFile name="file-db"
            fileName="${logPath}/log4j2-db.log"
            filePattern="${logPath}/%d{yyyyMM}/log4j2-db_%d{yyyyMMdd}_%i.log">
            <PatternLayout pattern="${pattern}" />

            <PatternLayout pattern="${pattern}" />
            <DefaultRolloverStrategy max="10" />
            <TimeBasedTriggeringPolicy />
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="org.hibernate.SQL" level="INFO">
            <AppenderRef ref="file" />
        </Logger>
        <Logger name="sample.spring.batch.db" level="TRACE"
            additivity="false">
            <AppenderRef ref="file-db" />
        </Logger>
    </Loggers>
</Configuration>